html, body {width:100%; height:100%; font-size:16px; margin:0; padding:0; text-align:left; color:#000;}
div, ul, li, ol, h1, h2, h3, h4, h5 {margin:0; padding:0; list-style:none;}

.clear:after {clear:both; content:""; display:block;}

.wrap {width:1200px; margin:0 auto;}
.header {width:100%; height:100px; background:#ccc;}
.logo {float:left;}
.section {width:100%; height:800px;}
.banner {width:1000px; height:400px; margin:0 auto; position:relative;}
.banner > ul {width:1000px; height:400px;}
.banner > ul > li {position:absolute; top:0; left:0; z-index:1;}


